@model WorkManager31.Models.ClientGroupsCheckListViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Groups</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

     @using (Html.BeginForm("Groups", "Clients", FormMethod.Post))
    {
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="card">
        <!-- Default panel contents -->
        
        <div class="card-body">
            <h5 class="card-title">Groups</h5>
            <div class="card-text">
                <div class="form-group">

                @for(var i = 0; i<Model.Checks.Count;i++)
                {
                    <div class="form-group form-check">
                            @Html.CheckBox(Model.Checks.ElementAt(i).Key.Name, Model.Checks.ElementAt(i).Value, new {@id=Model.Checks.ElementAt(i).Key.Id, @class="form-check-input"})
                            <label class="form-check-label" for="@Model.Checks.ElementAt(i).Key.Id">@Model.Checks.ElementAt(i).Key.Name</label>
                    </div>
                }

                </div>
            </div>
        </div>
    </div>
    <p>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
    </p>
}
<a asp-action="Index">Back to List</a>

